# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env

# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Logs and transient files
logs/*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
